@import url(../../components/css/globales.css);


@import url('../../tipografias/styles.css');

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--gradiente-fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Contenedor general */
.codigo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-contenedor);
    gap: var(--separacion-paneles);
}

/* Panel izquierdo */
.codigo-panel {
    width: var(--ancho-panel-izquierdo);
    height: var(--alto-panel-izquierdo);
    background: var(--gradiente-panel-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bordes-panel-izquierdo);
}

.codigo-panel__box {
    width: var(--ancho-panel-derecho-interno);
    height: var(--alto-panel-derecho-interno);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
    box-shadow: var(--sombra-caja-panel);
    text-align: center;
}

.codigo-panel__logo {
    width: var(--ancho-logo);
    height: var(--alto-logo);
    margin-top: var(--margen-logo-inferior);
}


/* Panel derecho */
.codigo-main {
    width: var(--ancho-panel-derecho);
    height: var(--alto-panel-derecho);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../assets/Imagenes/fondos/banner3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bordes-panel-derecho);
    position: relative;
    opacity: var(--opacidad-imagen-fondo);
}

/* Caja del mensaje */
.codigo-box {
    width: var(--ancho-contenedor-mensajes);
    height: var(--alto-contenedor-mensajes);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-caja-mensaje);
    box-shadow: var(--sombra-caja);
}

.codigo-box h1 {
    color: var(--color-texto-principal);
    font-weight: var(--peso-fuente-titulo-formularios);
    font-family: var(--fuente-titulos);
    font-size: 25px;
}

.codigo-box p {
    font-size: var(--tamano-parrafos);
    font-family: var(--fuente-subtitulos);
    margin-bottom: var(--margen-parrafo-inferior);
    margin-top: var(--margen-parrafo-superior);
    line-height: var(--altura-linea-parrafo);
}

/* Input */
.input__group {
    width: var(--ancho-input);
    height: var(--alto-input);
    margin-top: var(--margen-input-superior);
    display: flex;
    align-items: center;
    background-color: var(--color-fondo-input);
    border-radius: var(--bordes-inputs-botones);
    padding: var(--desplazamiento-active-boton) var(--padding-input-horizontal);
    position: relative;
}

.input__group i {
    font-size: var(--tamaño-fuente-icono-input);
    color: var(--color-iconos);
    margin-right: var(--margen-icono-derecho);
}

.input__group input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fuente-placeholder);
    font-size: var(--tamano-fuente-placeholder);
    flex: var(--indice-z-formulario);
    padding-right: var(--padding-input-derecho);
}

.input__group input::placeholder {
    color: var(--color-texto-placeholders);
}


/* Botón principal */
.codigo__button {
    width: var(--ancho-contenedor-botones);
    max-width: var(--ancho-boton-login-registro);
    height: var(--alto-boton-login-registro);
    margin: var(--margen-boton-login-superior)
        var(--margen-boton-login-horizontal) var(--margen-boton-login-inferior);
    font-size: var(--tamano-botones);
    font-weight: var(--peso-fuente-boton);
    color: var(--color-texto-principal);
    background-color: var(--color-fondo-boton);
    border: none;
    border-radius: var(--bordes-inputs-botones);
    cursor: pointer;
    text-align: center;
    transition: transform var(--duracion-transicion-boton-login)
        var(--tipo-transicion),
        filter var(--duracion-transicion-boton-login) var(--tipo-transicion),
        box-shadow var(--duracion-transicion-boton-login) var(--tipo-transicion);
    box-shadow: var(--sombra-boton-normal);

}

.codigo__button:hover {
    transform: scale(var(--escala-hover-boton));
    filter: brightness(var(--brillo-hover-boton));
    box-shadow: var(--sombra-boton-hover);
}