@import url('../../base/global.css'); /*variables globales*/

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--gradiente-fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Contenedor general */
.ing-codigo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-contenedor);
    gap: var(--separacion-paneles);
}

/* Panel izquierdo */
.ing-codigo__panel {
    width: var(--ancho-panel-izquierdo);
    height: var(--alto-panel-izquierdo);
    background: var(--gradiente-panel-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bordes-panel-izquierdo);
}

.ing-codigo__panel-caja {
    width: var(--ancho-panel-derecho-interno);
    height: var(--alto-panel-derecho-interno);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
    box-shadow: var(--sombra-caja-panel);
    text-align: center;
}

.ing-codigo__panel-logo {
    width: var(--ancho-logo);
    height: var(--alto-logo);
    margin-top: var(--margen-logo-inferior);
}

/* Panel derecho */
.ing-codigo__main {
    width: var(--ancho-panel-derecho);
    height: var(--alto-panel-derecho);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../../assets/Imagenes/fondos/banner3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bordes-panel-derecho);
    position: relative;
    opacity: var(--opacidad-imagen-fondo);
}

/* Caja del mensaje */
.ing-codigo__caja {
    width: var(--ancho-contenedor-mensajes);
    height: var(--alto-contenedor-mensajes);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-caja-mensaje);
    box-shadow: var(--sombra-caja);
}

.ing-codigo__caja h1 {
    color: var(--color-texto-principal);
    font-weight: var(--peso-fuente-titulo-formularios);
    font-family: var(--fuente-titulos);
    font-size: 25px;
}

.ing-codigo__caja p {
    font-size: var(--tamano-parrafos);
    font-family: var(--fuente-subtitulos);
    margin-bottom: var(--margen-parrafo-inferior);
    margin-top: var(--margen-parrafo-superior);
    line-height: var(--altura-linea-parrafo);
}

/* Input */
.ing-codigo__input-group {
    width: var(--ancho-input);
    height: var(--alto-input);
    margin-top: var(--margen-input-superior);
    display: flex;
    align-items: center;
    background-color: var(--color-fondo-input);
    border-radius: var(--bordes-inputs-botones);
    padding: var(--desplazamiento-active-boton) var(--padding-input-horizontal);
    position: relative;
}

.ing-codigo__input-group i {
    font-size: var(--tamaño-fuente-icono-input);
    color: var(--color-iconos);
    margin-right: var(--margen-icono-derecho);
}

.ing-codigo__input-group input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fuente-placeholder);
    font-size: var(--tamano-fuente-placeholder);
    flex: var(--indice-z-formulario);
    padding-right: var(--padding-input-derecho);
}

.ing-codigo__input-group input::placeholder {
    color: var(--color-texto-placeholders);
}
