@import url(../../global.css);


@import url('../../Tipografias/styles.css');

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

.home {
    width: var(--ancho-nav-admin);
    height: var(--alto-nav-admin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;   
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--color-nav-admin);
    border-radius: var(--borde-general);
    z-index: var(--z-index-panel);
    padding:0 20px;
}

/* Círculo admin a la izquierda */
.home__admin {
    width: var(--circulo-admin);
    height: var(--circulo-admin);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.home__admin h2 {
    position: absolute;
    bottom: 20px;
    right: 980px;
    transform: translateX(-50%) translateY(var(--ancho-scrollbar));
    opacity: 0;
    font-size: var(--tamano-texto-home-admin);
    font-weight: var(--peso-fuente-semititulos);
    color: var(--color-texto-principal);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.home__admin:hover h2 {
    opacity: var(--indice-z-formulario);
    transform: translateX(-50%) translateY(0);
}

.home__admin img {
    width: var(--tamano-imagen-admin);
    height: var(--tamano-imagen-admin);
}

/* Título centrado */
.home__title {
    flex: 1;
    text-align: center;
    font-size: var(--tamano-titulo-home);
    font-weight: var(--peso-fuente-titulo-principal);
    color: var(--color-texto-principal);
}

/* Icono de casa */
.home__icon {
    font-size: var(--tamano-icono-home);
    color: var(--color-iconos-principal);
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__title {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.cards__title:hover {
    color: var(--color-texto-hover-cards);
}

.cards__contenedor {
    display: flex; 
    gap: var(--gap-cards-catalogo);
    justify-items: center;
    padding: 0 40px;
}

.cards__contenedor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--ancho-card);
    height: auto;
    padding: 20px;
    border-radius: var(--radio-borde-card);
    text-align: center;
}

/* Círculo del icono */
.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ancho-iconos-admin);
    height: var(--alto-iconos-admin);
    border-radius: 50%;
    background-image: url('../../../../assets/Imagenes/fondos/fondo_cards.jpg');
    margin-bottom: 15px;
}

.icon-circle:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra-hover);
    background-color: var(--color-fondo-circulo-hover);
}

.icon-circle img {
    width: var(--tamano-imagen-icono);
    height: var(--tamano-imagen-icono);
    transition: transform var(--transicion-general);
}

/* Contenedor de h3 */
.h3-container {
    position: relative;
    width: var(--ancho-dashboard-act);
    height: var(--alto-dashboard-act);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo-boton);
    background-size: 200% 100%;
    background-position: right bottom;
    box-shadow: 0 2px 6px var(--color-sombra-oscura);
}

/* Texto centrado */
.h3-container h3 {
    position: relative;
    color: var(--color-texto-principal);
    font-size: var(--tamano-texto-h3);
    font-weight: var(--peso-texto-semi);
    text-align: center;
    z-index: 1;
    transition: color var(--transicion-general);
}
