:root {
    /* Tipografías */
    --fuente-titulos: 'Bevan', serif;            /* Titulos principales */
    --fuente-subtitulos: 'Besley', serif;        /* Subtitulos */
    --fuente-descripciones: 'Libre Bodoni', serif; /* Descripciones */

    /* Colores */
    --color-background: #f5f5f5;
    --color-panel: #a6a6a6;
    --color-box: #939393;
    --color-data: #d9d9d9c5;
    --color-inputs: #b8b8b8;
    --color-buttons: #b4b4b4;
    --color-buttons-hover: #9c9c9c;
    --color-text: #000;


    /* Dimensiones contenedores externos derechos e izquierdos */
    --panel-izquierdo-width: 600px;
    --panel-izquierdo-height: 600px;
    --img-fondo-derecho-width: 800px;




}

@import url('../Tipografias/styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    overflow: hidden; 
}

/*principal*/
.success {
    display: flex;
    flex-direction: row;
}

/* Imagen a la izquierda */
.container__image__main {
    width: var(--img-fondo-derecho-width);
    background-image: url('../Imagenes/fondos/Signup_background.jpg');
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contenedor principal del mensaje */
.container__success {
    width: 380px;
    height: 500px;;
    background-color: var(--color-data); /* Asegúrate de definir esta variable */
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 30px 0;
    margin: 50px auto;
}

/* Contenido interno del formulario */
.container__success__content {
    width: 100%;
    font-size: 20px;
    font-family: var(--font-button); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    /* color: var(--color-text); */
    color: #000000;
    font-family: var(--fuente-titulos);
    text-align: center;         
    letter-spacing: 2px;        
    font-size: 28px; 
}

.icon__pulgar-arriba{
    width: 65%;
    padding: 20px;
}

/* Botón de registro */
.success__button {
    margin-top: 30px;
    padding: 12px 30px;
    background-color: var(--color-buttons);
    color: var(--color-text);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 1;
    font-family: var(--font-button);
}

/* Efecto hover del botón */
.success__button:hover {
    background-color: var(--color-buttons-hover);
}


/* Panel gris a la derecha */
.success-panel {
    width: 600px;
    height: 600px;
    background-color: var(--color-panel);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja interna con logo y botones */
.success-panel__box {
    width: 480px;
    height: 550px;
    background-color: var(--color-box);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

/* Imagen del logo */
.success-panel__logo-image {
    width: 300px;
    height: auto;
}

/* Contenedor de botones */
.success-panel__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Botones */
.success-panel__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.success-panel__button img {
    width: 90px;
    height: 90px;
}

.success-panel__button h2 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
    color: var(--color-text);
    font-family: var(--font-button);
}
