@import url('../../base/global.css');


@import url('../../Tipografias/styles.css');


* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

.eliminado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eliminado__titulo {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.eliminado__titulo:hover {
    color: var(--color-texto-hover-cards);
}

.eliminado__contenedor {
    display: grid;
    grid-template-columns: var(--grid-columnas-eliminar);
    gap: var(--separacion-card);
    background: var(--color-fondo-card-productos);
    border-radius: var(--radio-borde-card);
    width: 1250px;
    height: 520px;

}

.eliminado__producto-imagen {
    margin-top: 60px;
    margin-left: 200px;
    width: var(--ancho-imagen-producto);
    height: var(--alto-imagen-producto);
    border-radius: var(--radio-bordes-imagen);
}

.eliminado__mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eliminado__mensaje h2 {
    font-size: var(--tamano-texto-info);
    color: var(--color-titulo-cards);
    margin-bottom: 20px;
    text-align: center;
}

.eliminado__mensaje a {
    font-size: var(--tamano-texto-h3);
    text-decoration: none;
    color:var(--color-texto-general);
    
}

.eliminado__mensaje a:hover {
    color: var(--color-link-hover);
}
