@import url('../../../base/global.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--color-fondo-admin);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
}

/* Contenedor principal */
.postventa-listar__contenedor {
    width: var(--ancho-tabla-Ventas);
    overflow-x: auto;
    border-radius: 15px;
    background-color: var(--color-fondo-card-productos);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* Tabla PC */
.reclamo__tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.reclamo__tabla th,
.reclamo__tabla td {
    padding: 15px 10px;
    text-align: center;
}

.reclamo__tabla th {
    background-color: var(--color-columnas-tabla);
    font-weight: 700;
    font-size: var(--tamano-label);
}

.reclamo__tabla tbody {
    background-color: var(--color-tablas);
    font-weight: 500;
    font-size: 16px;
}

/* Observaciones */
.reclamo__observaciones h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

.reclamo__observaciones ul {
    list-style: disc;
    padding-left: 20px;
    color: #000000;
}

.reclamo__observaciones li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

/* ===== MEDIA QUERIES ===== */

/* TABLET */
@media (max-width: 1024px) {
    .postventa-listar__contenedor {
        width: 90%;
        padding: 20px;
    }

    .reclamo__tabla th,
    .reclamo__tabla td {
        font-size: 14px;
        padding: 8px;
    }
}
/* MÓVIL */
@media (max-width: 480px) {
    .reclamo__tabla thead {
        display: none; /* Oculta el header */
    }

    .reclamo__tabla,
    .reclamo__tabla tbody,
    .reclamo__tabla tr,
    .reclamo__tabla td {
        display: block;
        width: 100%;
    }

    .reclamo__tabla tr {
        margin-bottom: 50px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        background: var(--color-fondo-tarjeta-hover);
    }

    .reclamo__tabla td {
        text-align: right;
        padding: 8px;
        position: relative;
        border: none;
    }

    /* Mostrar etiquetas antes del valor */
    .reclamo__tabla td::before {
        content: attr(data-label);
        float: left;
        font-weight: 600;
        color: #000;
    }

    .reclamo__tabla td:last-child {
        margin-bottom: 0;
    }

    /* Observaciones más pequeñas */
    .reclamo__observaciones {
        font-size: 14px;
        margin-top: 10px;
    }
}
