<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/pages/Administrador/ventas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar-admin"> 
        <div class="navbar-admin__catalogo"> 
            <img src="../../assets/Imagenes/iconos/admin.png" alt="Admin"> </a>
        </div> 
    <h1 class="navbar-admin__title">AAC27</h1> 
    <a href="admin-principal.html">
        <i class="fa-solid fa-house-chimney navbar-admin__home-icon"></i> 
    </a>
    </nav>

<main class="titulo">

    <h2 class="titulo__encabezado">Gestionar Ventas</h2>

    <section class="iconos-contenedor">

	    <!-- Listar ventas -->
	    <article class="iconos-item">
	        <a href="<%= request.getContextPath() %>/Administrador/ventas/listar"
	           class="icono-boton">
	
	            <div class="icono-boton__circulo">
	                <img class="icono-boton__img"
	                     src="<%= request.getContextPath() %>/assets/Imagenes/iconos/listar_ventas.png"
	                     alt="Listar ventas">
	            </div>
	
	            <h3 class="icono-boton__titulo">Listar ventas</h3>
	        </a>
	    </article>
	
	    <!-- Postventa -->
	    <article class="iconos-item">
	        <a href="<%= request.getContextPath() %>/Administrador/ventas/postventa"
	           class="icono-boton">
	
	            <div class="icono-boton__circulo">
	                <img class="icono-boton__img"
	                     src="<%= request.getContextPath() %>/assets/Imagenes/iconos/postventa.png"
	                     alt="Postventa">
	            </div>
	
	            <h3 class="icono-boton__titulo">Postventa</h3>
	        </a>
	    </article>
	
	</section>

</main>


</body>
</html>
