@import url('../../base/global.css'); 

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Contenedor principal de catálogo */
.catalogo-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo-admin__titulo {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.catalogo-admin__titulo:hover {
    color: var(--color-texto-hover-cards);
}

/* Contenedor de tarjetas */
.catalogo-admin__contenedor {
    display: flex; 
    gap: var(--gap-cards-catalogo);
    justify-items: center;
    padding: 0 40px;
}

/* Contenedor individual de tarjeta */
.catalogo-admin__contenedor-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta */
.catalogo-admin__tarjeta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../../../../assets/Imagenes/fondos/fondo_cards.jpg');
    border-radius: 16px;
    box-shadow: var(--sombra-difuminada);
    width: 610px;
    height: 220px;
    padding: var(--padding-tarjeta);
    gap: var(--gap-interno-tarjetas);
    transition: transform var(--duracion-transicion) var(--tipo-transicion), box-shadow var(--duracion-transicion) var(--tipo-transicion);
    cursor: pointer;
}

.catalogo-admin__tarjeta:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra-difuminada-hover);
    background-color: var(--color-fondo-tarjeta-hover);
}

/* Icono dentro de la tarjeta */
.catalogo-admin__icono img {
    width: var(--alto-iconos-catalogo);
    height: var(--ancho-iconos-catalogo);
}

.catalogo-admin__icono:hover img {
    filter: brightness(1) invert(0);
}

/* Título de la tarjeta */
.catalogo-admin__titulo-tarjeta {
    position: relative;
    color: var(--color-texto-principal);
    font-size: var(--tamano-titulo-cards);
    font-weight: var(--peso-fuente-semititulos);
    text-align: center;
}
