@import url('../../base/global.css');


@import url('../../Tipografias/styles.css');


* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}
/* Contenedor general */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card__title {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.product-card__title:hover {
    color: var(--color-texto-hover-cards);
}

/* Card principal */
.product-card__eliminar {
    display: grid;
    grid-template-columns: var(--grid-columnas-eliminar);
    gap: var(--separacion-card);
    background: var(--color-fondo-card-productos);
    border-radius: var(--radio-borde-card);
    width: 1250px;
    height: 520px;
}

/* Imagen y botones */
.product-card__vista {
    display: flex;
    flex-direction: column;
    gap: var(--separacion-vista);
    align-items: center;
}

.product-card__image img {
    margin-top: 24px;
    width: var(--ancho-imagen-producto);
    height: var(--alto-imagen-producto);
    border-radius: var(--radio-bordes-imagen);
}

/* Detalles del producto */
.product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_info__detalle {
    margin-right: 127px;
}

.product_info__detalle h3 {
    font-size: var(--tamano-nombre-producto-cards);
    color: var(--color-texto-general);
    min-width: 120px;
}

.item-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margen-bottom-item-detalle);
}

.item-detalle h2 {
    font-size: var(--tamano-contenido-producto);
    color: var(--color-texto-principal);
}

.item-detalle span {
    font-size: var(--tamano-contenido-producto);
    color: var(--color-texto-principal);
}

.item-detalle i {
    color: var(--color-estrellas);
}

/* Advertencia */
.product-advertencia {
    background-color: var(--color-fondo-advertencia);
    border-radius: var(--radio-bordes-boton-grande);
    padding: var(--padding-advertencia);
    display: flex;
    align-items: flex-start;
    gap: var(--separacion-advertencia);
    text-align: center;
    margin-right: 130px;
    margin-top: 35px;
    width: 500px;
    height: 130px;
    font-size: var(--tamano-contenido-producto) ;
}

.product-advertencia i {
    font-size: 80px;
    color: var(--color-icono-advertencia);
}

.product-advertencia h1 {
    font-size: var(--tamaño-fuente-advertencia-titulo);
    color: var(--color-texto-advertencia-titulo);
}

.product-advertencia p {
    font-size: var(--tamaño-fuente-advertencia-texto);
    color: var(--color-texto-negro);
}

