@import url('../../base/global.css'); 

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}


/* Página de producto */
.ver-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ver-producto__titulo {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.ver-producto__titulo:hover {
    color: var(--color-texto-hover-cards);
}

/* Card interna */
.ver-producto__card {
    display: flex;
    flex-direction: row;
    gap: var(--gap-interno-tarjetas);
    background: var(--color-fondo-card-productos);
    border-radius: var(--radio-borde-card);
    overflow: hidden;
    width: 1200px;
    height: 460px;
}

/* Imagen */
.ver-producto__card-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ver-producto__card-imagen img {
    margin-left: 40px;
    width: var(--ancho-imagen-producto);
    height: var(--alto-imagen-producto);
    border-radius: var(--radio-bordes-imagen);
}

/* Detalles */
.ver-producto__card-detalles {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: var(--padding-detalles); 
} 

.ver-producto__card-detalles-fila { 
    display: flex; 
    gap: var( --gap-info-cards); 
    margin-bottom:12px; 
    align-items: center;  
} 

.ver-producto__card-detalles-titulo { 
    font-size: var(--tamano-nombre-producto-cards); 
    color: var(--color-texto-general); 
    min-width: 120px; 
} 

.ver-producto__card-detalles-nombre, 
.ver-producto__card-detalles-categoria, 
.ver-producto__card-detalles-precio, 
.ver-producto__card-detalles-material, 
.ver-producto__card-detalles-descripcion { 
    font-size: var(--tamano-contenido-producto); 
    color: var(--color-texto-principal); 
} 

.ver-producto__card-calificaciones { 
    display: flex; 
    align-items: center; 
    color: var(--color-estrellas); 
    gap: var(--gap-estrellas); 
    margin-bottom: var(--margen-bottom-estrellas);
    font-size: var(--tamano-iconos-productos);
}

/* Botones */
.ver-producto__card-acciones {
    display: flex;
    gap: 12px;
}
