@import url('../../base/global.css');


@import url('../../Tipografias/styles.css');


* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Barra superior (admin) */
.admin {
    width: var(--ancho-nav-admin);
    height: var(--alto-nav-admin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;   
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--color-nav-admin);
    border-radius: var(--borde-general);
    z-index: var(--z-index-panel);
    padding:0 20px;
}

/* Círculo admin */
.admin__catalogo {
    width: var(--circulo-admin);
    height: var(--circulo-admin);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

/* Texto "Inicio" */
.admin__catalogo h2 {
    position: absolute;
    bottom: 20px;
    right: 980px;
    transform: translateX(-50%) translateY(var(--ancho-scrollbar));
    opacity: 0;
    font-size: var(--tamano-texto-home-admin);
    font-weight: var(--peso-fuente-semititulos);
    color: var(--color-texto-principal);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.admin__catalogo:hover h2 {
    opacity: var(--indice-z-formulario);
    transform: translateX(-50%) translateY(0);
}

.admin__catalogo img {
    width: var(--tamano-imagen-admin);
    height: var(--tamano-imagen-admin);
}

/* Título central */
.admin__title {
    flex: 1;
    text-align: center;
    font-size: var(--tamano-titulo-home);
    font-weight: var(--peso-fuente-titulo-principal);
    color: var(--color-texto-principal);
}

/* Icono de casa */
.home__icon {
    font-size: var(--tamano-icono-home);
    color: var(--color-iconos-principal);
    cursor: pointer;
}

/* -------- ICONOS LATERALES -------- */
.admin__icons-right {
    position: fixed;
    right: var(--posicion-right-iconos);
    top: var(--posicion-top-iconos);
    transform: var(--transformacion-centrar-y);
    display: flex;
    flex-direction: column;
    gap: var(--separacion-iconos-laterales);
    z-index: var(--z-index-iconos);
}

.icon-container {
    background: var(--color-fondo-icono);
    border-radius: var(--radio-bordes-icono);
    width: var(--ancho-icono-lateral);
    height: var(--alto-icono-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra-icono);
    transition: var(--transicion-icono);
    cursor: pointer;
}

.icon-container:hover {
    transform: var(--transformacion-icono-hover);
    box-shadow: var(--sombra-icono-hover);
}

.tooltip {
    position: absolute;
    right: var(--posicion-right-tooltip);
    background: var(--color-fondo-tooltip);
    color: var(--color-texto-tooltip);
    padding: var(--padding-tooltip);
    border-radius: var(--radio-bordes-tooltip);
    font-size: var(--tamaño-fuente-tooltip);
    opacity: var(--opacidad-tooltip-inicial);
    pointer-events: none;
    transition: var(--transicion-opacidad);
}

.icon-container:hover .tooltip {
    opacity: var(--opacidad-tooltip-hover);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.product-title:hover {
    color: var(--color-texto-hover-cards);
}

/* Card interna */
.product-card {
    display: flex;
    flex-direction: row;
    gap: var(--gap-interno-tarjetas);
    background: var(--color-fondo-card-productos);
    border-radius: var(--radio-borde-card);
    overflow: hidden;
    width: 1200px;
    height: 460px;
}


/* Imagen */
.product-card__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-card__image img {
    margin-left: 40px;
    width: var(--ancho-imagen-producto);
    height: var(--alto-imagen-producto);
    border-radius: var(--radio-bordes-imagen);
}

/* Detalles */
.product-card__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-detalles);
}

.detail-row {
    display: flex;
    gap: var( --gap-info-cards);
    margin-bottom:12px;
    align-items: center; 
}

.product-card__details-titulo {
    font-size: var(--tamano-nombre-producto-cards);
    color: var(--color-texto-general);
    min-width: 120px;
}

.product-card__name,
.product-card__category,
.product-card__price,
.product-card__material,
.product-card__description {
    font-size: var(--tamano-contenido-producto);
    color: var(--color-texto-principal);
}

.product-card__ratings {
    display: flex;
    align-items: center;
    color: var(--color-estrellas);
    gap: var(--gap-estrellas);
    margin-bottom: var(--margen-bottom-estrellas);
    font-size: var(--tamano-iconos-productos);
}

/* Botones */
.product-card__actions {
    display: flex;
    gap: 12px;
}

.btn {
    border: none;
    padding: var(--padding-boton);
    border-radius: var(--radio-bordes-boton);
    font-size: var(--tamano-iconos-productos);
    cursor: pointer;
    transition: var(--transicion-boton);
}

.btn.edit {
    background: var(--color-boton-principal);
}

.btn.edit:hover {
    background: var(--color-boton-principal-hover);
    transform: var(--transformacion-boton-hover);
}

.btn.delete {
    background: var(--color-boton-secundario);
}

.btn.delete:hover {
    background: var(--color-boton-secundario-hover);
}