@import url('../base/global.css'); /*variables globales*/

* {
  margin: var(--margin_padding_reset);
  padding: var(--margin_padding_reset);
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-titulos);
  background: var(--gradiente-fondo-principal);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--alto-minimo-body);
}

/* Contenedor principal */
.inicio-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--alto-minimo-contenedor);
  gap: var(--separacion-paneles);
}

/* Panel lateral izquierdo */
.inicio-sesion__panel {
  width: var(--ancho-panel-izquierdo);
  height: var(--alto-panel-izquierdo);
  background: var(--gradiente-panel-lateral);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bordes-panel-izquierdo);
}

.inicio-sesion__panel-caja {
  width: var(--ancho-panel-derecho-interno);
  height: var(--alto-panel-derecho-interno);
  background-color: var(--color-fondo-caja);
  border-radius: var(--bordes-caja-panel-izquierda-derecha);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
  text-align: center;
  box-shadow: var(--sombra-caja-panel);
}

.inicio-sesion__panel-logo {
  width: var(--ancho-logo);
  height: var(--alto-logo);
  margin-top: var(--margen-logo-inferior);
}

/* Contenedor derecho con imagen */
.inicio-sesion__contenido {
  width: var(--ancho-panel-derecho);
  height: var(--alto-panel-derecho);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../Imagenes/fondos/banner4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--bordes-panel-derecho);
  position: relative;
  opacity: var(--opacidad-imagen-fondo);
}

/* Formulario */
.inicio-sesion__formulario {
  width: var(--ancho-contenedor-formulario);
  height: var(--alto-contenedor-formulario);
  background-color: var(--color-fondo-caja);
  border-radius: var(--bordes-caja-panel-izquierda-derecha);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-formulario-vertical)
    var(--padding-formulario-horizontal);
  box-shadow: var(--sombra-formulario);
  z-index: var(--indice-z-formulario);
  position: relative;
}

.inicio-sesion__formulario-contenido {
  width: var(--ancho-contenedor-botones);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-subtitulos);
}

h1 {
  color: var(--color-texto-principal);
  font-weight: var(--peso-fuente-titulo-formularios);
  font-family: var(--fuente-titulos);
  font-size: 25px;
}

/* Inputs */
.inicio-sesion__input-grupo {
  width: var(--ancho-input);
  height: var(--alto-input);
  margin-top: var(--margen-input-superior);
  display: flex;
  align-items: center;
  background-color: var(--color-fondo-input);
  border-radius: var(--bordes-inputs-botones);
  padding: var(--desplazamiento-active-boton) var(--padding-input-horizontal);
  position: relative;
}

.inicio-sesion__input-grupo input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--fuente-placeholder);
  font-size: var(--tamano-fuente-placeholder);
  flex: var(--indice-z-formulario);
  padding-right: var(--padding-input-derecho);
  color: var(--color-texto-negro);
}

.inicio-sesion__input-grupo input::placeholder {
  color: var(--color-texto-placeholders);
}

.inicio-sesion__input-grupo i.icon-left {
  font-size: var(--tama単o-icono-input);
  color: var(--color-iconos);
  margin-right: var(--margen-icono-izquierdo);
}

.inicio-sesion__input-grupo i.icon-right {
  position: absolute;
  right: var(--posicion-icono-derecho);
  font-size: var(--tama単o-icono-input);
  color: var(--color-iconos);
  cursor: pointer;
}


.inicio-sesion__link-recuperar {
  width: var(--ancho-contenedor-botones);
  max-width: var(--ancho-input);
  margin: var(--margen-link-recuperar-superior)
    var(--margen-boton-login-horizontal) var(--margen-link-recuperar-inferior)
    var(--margen-boton-login-horizontal);
  font-size: var(--tama単o-fuente-links);
  text-align: center;
  color: var(--color-texto-principal);
}

.inicio-sesion__link-recuperar:hover {
  color: var(--color-link-hover);
}

/* Footer registro */
.inicio-sesion__link-registro {
  width: var(--ancho-contenedor-botones);
  text-align: center;
  margin-top: var(--margen-link-registro-superior);
  font-size: var(--tama単o-fuente-link-registro);
}

.inicio-sesion__link-registro a {
  color: var(--color-texto-principal);
  text-decoration: none;
  font-weight: var(--peso-fuente-rol);
}

.inicio-sesion__link-registro a:hover {
  color: var(--color-link-hover);
}

.inicio-sesion__link-registro p {
  font-size: var(--tamano-fuente-parrafos-alternativos);
}

/* Form centrado verticalmente */
.inicio-sesion__formulario-contenido form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--ancho-contenedor-botones);
}
