@import url('../base/global.css'); /*variables globales*/

:root {
    /* Tipografía - Tamaños */
    --tamaño-fuente-titulo-boton-rol: var(--margen-boton-inferior);
    --tamaño-fuente-titulo-mensaje: var(--margen-bienvenida-inferior);
    --tamaño-fuente-boton-iniciar: 22px;
}

/* Reset */
* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--gradiente-fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Contenedor principal */
.mensaje-exito {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-contenedor);
    gap: var(--separacion-paneles);
}

/* Panel izquierdo */
.mensaje-exito__panel-izquierdo {
    width: var(--ancho-panel-izquierdo);
    height: var(--alto-panel-izquierdo);
    background: var(--gradiente-panel-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bordes-panel-izquierdo);
}

.mensaje-exito__caja-logo {
    width: var(--ancho-panel-derecho-interno);
    height: var(--alto-panel-derecho-interno);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
    box-shadow: var(--sombra-caja-panel);
    text-align: center;
}

.mensaje-exito__imagen-logo {
    width: var(--ancho-logo);
    height: var(--alto-logo);
    margin-top: var(--margen-logo-inferior);
}


/* Panel derecho */
.mensaje-exito__panel-derecho {
    width: var(--ancho-panel-derecho);
    height: var(--alto-panel-derecho);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../Imagenes/fondos/banner5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bordes-panel-derecho);
    position: relative;
    opacity: var(--opacidad-imagen-fondo);
}

.mensaje-exito__caja-mensaje {
    width: var(--ancho-contenedor-mensajes);
    height: var(--alto-contenedor-mensajes);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-caja-mensaje);
    box-shadow: var(--sombra-caja);
}

.mensaje-exito__caja-mensaje h1 {
    color: var(--color-texto-principal);
    font-weight: var(--peso-fuente-titulo-formularios);
    font-family: var(--fuente-titulos);
    font-size: 25px;
}

.icon__pulgar-arriba {
    width: var(--ancho-icono-pulgar);
    margin-top: var(--margen-icono-pulgar-superior);
    margin-bottom: var(--margen-icono-pulgar-superior);
}
