@import url(../../components/css/globales.css);

:root {
    /* Tipografía - Tamaños */
    --tamaño-fuente-titulo-boton-rol: var(--margen-boton-inferior);
    --tamaño-fuente-titulo-mensaje: var(--margen-bienvenida-inferior);
    --tamaño-fuente-boton-iniciar: 22px;
}

/* Reset */
* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--gradiente-fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Contenedor principal */
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-contenedor);
    gap: var(--separacion-paneles);
}

/* Panel izquierdo */
.success-panel {
    width: var(--ancho-panel-izquierdo);
    height: var(--alto-panel-izquierdo);
    background: var(--gradiente-panel-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bordes-panel-izquierdo);
}

.success-panel__box {
    width: var(--ancho-panel-derecho-interno);
    height: var(--alto-panel-derecho-interno);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
    box-shadow: var(--sombra-caja-panel);
    text-align: center;

}

.success-panel__logo-image {
    width: var(--ancho-logo);
    height: var(--alto-logo);
    margin-top: var(--margen-logo-inferior);
}


/* Panel derecho */
.success-message {
    width: var(--ancho-panel-derecho);
    height: var(--alto-panel-derecho);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/Imagenes/fondos/banner5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bordes-panel-derecho);
    position: relative;
    opacity: var(--opacidad-imagen-fondo);
}

.success-box {
    width: var(--ancho-contenedor-mensajes);
    height: var(--alto-contenedor-mensajes);
    background-color: var(--color-fondo-caja);
    border-radius: var(--bordes-caja-panel-izquierda-derecha);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-caja-mensaje);
    box-shadow: var(--sombra-caja);
}

.success-box h1 {
    color: var(--color-texto-principal);
    font-weight: var(--peso-fuente-titulo-formularios);
    font-family: var(--fuente-titulos);
    font-size: 25px;
}

.icon__pulgar-arriba {
    width: var(--ancho-icono-pulgar);
    margin-top: var(--margen-icono-pulgar-superior);
    margin-bottom: var(--margen-icono-pulgar-superior);
}

/* Botón principal */
.success__button {
    width: var(--ancho-contenedor-botones);
    max-width: var(--ancho-boton-login-registro);
    height: var(--alto-boton-login-registro);
    margin: var(--margen-boton-login-superior)
        var(--margen-boton-login-horizontal) var(--margen-boton-login-inferior);
    font-size: var(--tamano-botones);
    font-weight: var(--peso-fuente-boton);
    color: var(--color-texto-principal);
    background-color: var(--color-fondo-boton);
    border: none;
    border-radius: var(--bordes-inputs-botones);
    cursor: pointer;
    text-align: center;
    transition: transform var(--duracion-transicion-boton-login)
        var(--tipo-transicion),
        filter var(--duracion-transicion-boton-login) var(--tipo-transicion),
        box-shadow var(--duracion-transicion-boton-login) var(--tipo-transicion);
    box-shadow: var(--sombra-boton-normal);
}

.success__button:hover {
    background-color: var(--color-fondo-boton-hover);
    transform: translateY(var(--desplazamiento-hover-boton));
    box-shadow: var(--sombra-boton-hover);
}

.success__button:active {
    transform: translateY(var(--desplazamiento-active-boton));
    box-shadow: var(--sombra-boton-active);
}