:root {
    /* Colores */
    --color-background: #f5f5f5;
    --color-panel: #a6a6a6;
    --color-box: #939393;
    --color-text: #000;

    /* Dimensiones */
    --panel-width: 600px;
    --panel-height: 600px;
}

@import url('../Tipografias/styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-background);
    overflow: hidden; 
}

.container_principal{
    display: flex;
}

.container {
    display: flex;
}

/* Imagen a la izquierda */
.container__image__main {
    width: 800px;
    height: var(--panel-height);
    background-image: url('../../assets/Imagenes/fondos/Fondo_principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Panel gris a la derecha */
.login-panel {
    width: var(--panel-width);
    height: var(--panel-height);
    background-color: var(--color-panel);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja interna con logo y botones */
.login-panel__box {
    width: 480px;
    height: 550px;
    background-color: var(--color-box);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

/* Imagen del logo */
.login-panel__logo-image {
    width: 300px;
    height: auto;
    margin-top: -5px;
}

/* Contenedor de botones */
.login-panel__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Botones */
.login-panel__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.login-panel__button img {
    width: 90px;
    height: 90px;
}

.login-panel__button h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-text);
    font-family: var(--fuente-titulos);
}
