@import url(../../components/css/globales.css);

/* estilos generales y layout */
* {
  margin: var(--margin_padding_reset);
  padding: var(--margin_padding_reset);
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-titulos);
  background: var(--gradiente-fondo-principal);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--alto-minimo-body);
}

.container_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--alto-minimo-contenedor);
  gap: var(--separacion-paneles);
}

/* Panel izquierdo */
.panel-izquierdo {
  width: var(--ancho-panel-izquierdo);
  height: var(--alto-panel-izquierdo);
  background: var(--gradiente-panel-izquierdo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bordes-panel-izquierdo);
}

/* Caja interna panel izquierdo */
.signup-panel__box {
  width: var(--ancho-panel-izquierdo-interno);
  height: var(--alto-panel-izquierdo-interno);
  background-color: var(--color-fondo-caja);
  border-radius: var(--bordes-caja-panel-izquierda-derecha);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-caja-vertical) var(--padding-caja-horizontal);
  text-align: center;
  box-shadow: var(--sombra-caja-panel);
}

.signup-panel__logo-image {
  width: var(--ancho-logo);
  height: var(--alto-logo);
  margin-top: var(--margen-logo-inferior);
}

/* Panel derecho */
.panel-derecho {
  width: var(--ancho-panel-derecho);
  height: var(--alto-panel-derecho);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/Imagenes/fondos/banner4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: var(--opacidad-imagen-fondo);
  border-radius: var(--bordes-panel-derecho);
  position: relative;
}

/* Formulario derecho */
.container__signup_data {
  width: var(--ancho-contenedor-formulario);
  height: var(--alto-contenedor-formulario);
  background-color: var(--color-fondo-caja);
  border-radius: var(--bordes-caja-panel-izquierda-derecha);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-formulario-vertical)
    var(--padding-formulario-horizontal);
  box-shadow: var(--sombra-formulario);
  z-index: var(--indice-z-formulario);
  position: relative;
}

.container__signup_data__content {
  width: var(--ancho-contenedor-botones);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-subtitulos);
}

h1 {
  color: var(--color-texto-principal);
  font-weight: var(--peso-fuente-titulo-formularios);
  font-family: var(--fuente-titulos);
  font-size: 25px;
}

/* Inputs */
.input__group {
  width: var(--ancho-input);
  height: var(--alto-input);
  margin-top: var(--margen-input-superior);
  display: flex;
  align-items: center;
  background-color: var(--color-fondo-input);
  border-radius: var(--bordes-inputs-botones);
  padding: var(--desplazamiento-active-boton) var(--padding-input-horizontal);
  position: relative;
}

.input__group input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--fuente-placeholder);
  font-size: var(--tamano-fuente-placeholder);
  flex: var(--indice-z-formulario);
  padding-right: var(--padding-input-derecho);
  color: var(--color-texto-negro);
}

.input__group input::placeholder {
  color: var(--color-texto-placeholders);
  /* color: aqua; */
}

.input__group i.icon-left {
  font-size: var(--tamaño-icono-input);
  color: var(--color-iconos);
  margin-right: var(--margen-icono-derecho);
}

.input__group i.icon-right {
  position: absolute;
  right: var(--posicion-icono-derecho);
  font-size: var(--tamaño-icono-input);
  color: var(--color-iconos);
  cursor: pointer;
}

/* Botón de registro */
.signup__button {
  width: var(--ancho-contenedor-botones);
  max-width: var(--ancho-maximo-boton-registro);
  height: var(--alto-boton-login-registro);
  margin: var(--margen-boton-registro-superior)
    var(--margen-boton-registro-horizontal)
    var(--margen-boton-registro-inferior);
  font-size: var(--tamaño-fuente-boton-registro);
  font-weight: var(--peso-fuente-boton-registro);
  color: var(--color-texto-principal);
  background-color: var(--color-fondo-boton);
  border: none;
  border-radius: var(--bordes-inputs-botones);
  cursor: pointer;
  text-align: center;
  transition: transform var(--duracion-transicion-boton-registro)
      var(--tipo-transicion),
    filter var(--duracion-transicion-boton-registro) var(--tipo-transicion),
    box-shadow var(--duracion-transicion-boton-registro) var(--tipo-transicion);
  box-shadow: var(--sombra-boton-normal);
}

.signup__button:hover {
  transform: scale(var(--escala-hover-boton));
  filter: brightness(var(--brillo-hover-boton));
  box-shadow: var(--sombra-boton-hover);
}

/* Footer */
.signup__link {
  margin-top: var(--margen-link-registro-superior);
  font-size: var(--tamaño-fuente-link-footer);
  text-align: center;
}

.signup__link a {
  color: var(--color-texto-principal);
  text-decoration: none;
  font-weight: var(--peso-fuente-rol);
}

.signup__link p {
  font-size: var(--tamano-fuente-parrafos-alternativos);
}

.signup__link a:hover {
  color: var(--color-link-hover);
}
