/* Importar todas las fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Variables globales de tipografía */
/* :root {
  --fuente-titulos: 'Lora', serif;        Títulos principales
  --fuente-subtitulos: 'Lora', serif;  Subtítulos
  --fuente-descripciones: 'Rubik', sans-serif; Descripciones
  --fuente-precios: 'Rubik', sans-serif;     Precios
} */
