.admin__tooltips-right {
    position: fixed;
    right: var(--posicion-lateral-iconos);
    top: 50%;
    transform: var(--transformacion-centrar-y);
    display: flex;
    flex-direction: column;
    gap: var(--separacion-iconos-laterales);
    z-index: var(--z-index-iconos);
}

.icon-container {
    background: var(--color-fondo-icono);
    border-radius: var(--radio-bordes-icono-lateral);
    width: var(--alto-ancho-container-tooltips);
    height: var(--alto-ancho-container-tooltips);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra-general);
    cursor: pointer;
    position: relative;
    transition: var(--transicion-icono);
}

.icon-container:hover {
    transform: scale(var(--escala-icono-hover));
}

.tooltip {
    position: absolute;
    right: var(--posicion-tooltip);
    background: var(--color-fondo-tooltip);
    color: var(--color-texto-tooltip);
    padding: var(--padding-tooltip);
    border-radius: var(--radio-bordes-tooltip);
    font-size: var(--desplazamiento-active-boton).85rem;
    opacity: var(--opacidad-tooltip-inicial);
    transition: var(--duracion-transicion);
}

.icon-container:hover .tooltip {
    opacity: var(--opacidad-tooltip-hover);
}


/*iconos i*/

.iconos {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: var(--gap-iconos);
}

.iconos i {
    font-size: var(--tamano-iconos-productos);
    color: var(--color-iconos);
    cursor: pointer;
    margin-top: 20px;
}

.iconos i:hover {
    color: var(--color-iconos-hover);
}