
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__encabezado {
    font-size: var(--tamano-titulo-card);
    color: var(--color-titulo-cards);
    margin-bottom: 40px;
    margin-left: 40px;
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
    transition: transform .3s ease, color .3s ease;
}

.titulo__encabezado:hover {
    color: var(--color-texto-hover-cards);
}
