:root {
    /* Colores */
    --color-background: #f5f5f5;
    --color-panel: #6d592c;
    --color-box: #b5b5b5;
    --color-text: #000;

    /* Dimensiones */
    --panel-width: 800px;
    --panel-height: 700px;
}

@import url('../Tipografias/styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Imagenes/fondos/fondo_aplicativo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; 
}

/* Contenedor general */
.container_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1px;
    
}

/* Paneles */
.panel-izquierdo, .panel-derecho {
    position: relative;
}

/* Imagen izquierda */
.container__image__main {
    width: 900px;
    height: var(--panel-height);
    background-image: url('../Imagenes/fondos/Fondo_principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 0 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: -1;
    padding: 10px;
}

/* Panel derecho */
.login-panel {
    width: var(--panel-width);
    height: var(--panel-height);
    background-color: var(--color-panel);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 30px 0;
    
}

/* Caja interna */
.login-panel__box {
    width: 480px;
    height: 580px;
    background-color: var(--color-box);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    text-align: center;
}

/* Logo */
.login-panel__logo-image {
    width: 280px;
    height: auto;
    margin-bottom: -10px;
}

/* Mensajes */
.login-panel__welcome {
    font-size: 38px;
    margin-top: -81px;
    margin-bottom: 71px;
    color: var(--color-text);
}

.login-panel__rol {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-text);
}

/* Botones */
.login-panel__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
}

.login-panel__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.login-panel__button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.login-panel__button img {
    width: 90px;
    height: 90px;
}

.login-panel__button h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-text);
}
