@import url('../../../../../../components/css/global.css');


@import url('../../Tipografias/styles.css');


* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* --- Barra superior --- */
.admin {
    width: var(--ancho-nav-admin);
    height: var(--alto-nav-admin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;   
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--color-nav-admin);
    border-radius: var(--borde-general);
    z-index: var(--z-index-panel);
    padding:0 20px;
}

/* Círculo admin */
.admin__catalogo {
    width: var(--circulo-admin);
    height: var(--circulo-admin);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.admin__catalogo h2 {
    position: absolute;
    bottom: 20px;
    right: 980px;
    transform: translateX(-50%) translateY(var(--ancho-scrollbar));
    opacity: 0;
    font-size: var(--tamano-texto-home-admin);
    font-weight: var(--peso-fuente-semititulos);
    color: var(--color-texto-principal);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.admin__catalogo:hover h2 {
    opacity: var(--indice-z-formulario);
    transform: translateX(-50%) translateY(0);
}

.admin__catalogo img {
    width: var(--tamano-imagen-admin);
    height: var(--tamano-imagen-admin);
}

/* Título centrado */
.admin__title {
    flex: 1;
    text-align: center;
    font-size: var(--tamano-titulo-home);
    font-weight: var(--peso-fuente-titulo-principal);
    color: var(--color-texto-principal);
}

/* Icono casita */
.home__icon {
    font-size: var(--tamano-icono-home);
    color: var(--color-iconos-principal);
    cursor: pointer;
}


/* --- Iconos laterales --- */
.admin__icons-right {
    position: fixed;
    right: var(--posicion-right-iconos);
    top: var(--posicion-top-iconos);
    transform: var(--transformacion-centrar-y);
    display: flex;
    flex-direction: column;
    gap: var(--separacion-iconos-laterales);
    z-index: var(--z-index-iconos);
}

.icon-container {
    background: var(--color-fondo-icono);
    border-radius: var(--radio-bordes-icono);
    width: var(--ancho-icono-lateral);
    height: var(--alto-icono-lateral);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra-general);
    cursor: pointer;
    position: relative;
}

.icon-container:hover {
    transform: scale(var(--escala-icono-hover));
}

.tooltip {
    position: absolute;
    right: var(--posicion-right-tooltip);
    background: var(--color-fondo-tooltip);
    color: var(--color-texto-tooltip);
    padding: var(--padding-tooltip);
    border-radius: var(--radio-bordes-tooltip);
    font-size: var(--tamaño-fuente-tooltip);
    opacity: var(--opacidad-tooltip-inicial);
    transition: var(--transicion-opacidad);
}

.icon-container:hover .tooltip {
    opacity: var(--opacidad-tooltip-hover);
}

/* Contenedor general */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card__title {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.product-card__title:hover {
    color: var(--color-texto-hover-cards);
}

/* Card principal */
.product-card__eliminar {
    display: grid;
    grid-template-columns: var(--grid-columnas-eliminar);
    gap: var(--separacion-card);
    background: var(--color-fondo-card-productos);
    border-radius: var(--radio-borde-card);
    width: 1250px;
    height: 520px;
}

/* Imagen y botones */
.product-card__vista {
    display: flex;
    flex-direction: column;
    gap: var(--separacion-vista);
    align-items: center;
}

.product-card__image img {
    margin-top: 24px;
    width: var(--ancho-imagen-producto);
    height: var(--alto-imagen-producto);
    border-radius: var(--radio-bordes-imagen);
}

.product-card__acciones {
    display: flex;
    gap: var(--separacion-acciones);
}

.boton {
    padding: var(--padding-boton-grande);
    border-radius: var(--radio-bordes-boton);
    font-size: var(--tamaño-fuente-boton-grande);
    display: flex;
    align-items: center;
    gap: var(--separacion-boton-icono);
    border: none;
    cursor: pointer;
    transition: var(--transicion-boton);
}

.edit-image-btn {
    background-color: var(--color-boton-principal);
    color: var(--color-texto-negro);
}

.edit-image-btn:hover {
    background-color: var(--color-boton-principal-hover);
}

.ver-image-btn {
    background-color: var(--color-boton-secundario);
    color: var(--color-texto-negro);
}

.ver-image-btn:hover {
    background-color: var(--color-boton-secundario-hover);
}

/* Detalles del producto */
.product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_info__detalle {
    margin-right: 127px;
}

.product_info__detalle h3 {
    font-size: var(--tamano-nombre-producto-cards);
    color: var(--color-texto-general);
    min-width: 120px;
}

.item-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margen-bottom-item-detalle);
}

.item-detalle h2 {
    font-size: var(--tamano-contenido-producto);
    color: var(--color-texto-principal);
}

.item-detalle span {
    font-size: var(--tamano-contenido-producto);
    color: var(--color-texto-principal);
}

.item-detalle i {
    color: var(--color-estrellas);
}

/* Advertencia */
.product-advertencia {
    background-color: var(--color-fondo-advertencia);
    border-radius: var(--radio-bordes-boton-grande);
    padding: var(--padding-advertencia);
    display: flex;
    align-items: flex-start;
    gap: var(--separacion-advertencia);
    text-align: center;
    margin-right: 130px;
    margin-top: 35px;
    width: 500px;
    height: 130px;
    font-size: var(--tamano-contenido-producto) ;
}

.product-advertencia i {
    font-size: 80px;
    color: var(--color-icono-advertencia);
}

.product-advertencia h1 {
    font-size: var(--tamaño-fuente-advertencia-titulo);
    color: var(--color-texto-advertencia-titulo);
}

.product-advertencia p {
    font-size: var(--tamaño-fuente-advertencia-texto);
    color: var(--color-texto-negro);
}

/* Botones eliminar/cancelar */
.product-accion__eliminar {
    display: flex;
    justify-content: center;
    gap: var(--separacion-acciones);
    margin-top: var(--margen-top-botones-accion);
    margin-right: 128px;
}

.boton-confirmar {
    border: none;
    padding: var(--padding-boton);
    border-radius: var(--radio-bordes-boton);
    font-size: var(--tamano-iconos-productos);
    cursor: pointer;
    transition: var(--transicion-boton);
    background: var(--color-boton-principal);
}

.boton-confirmar:hover {
    background: var(--color-boton-principal-hover);
    transform: var(--transformacion-boton-hover);
}

.boton-cancelar {
    border: none;
    padding: var(--padding-boton);
    border-radius: var(--radio-bordes-boton);
    font-size: var(--tamano-iconos-productos);
    cursor: pointer;
    transition: var(--transicion-boton);
    background: var(--color-boton-secundario);
}

.boton-cancelar:hover {
    background: var(--color-boton-secundario-hover);
}