/* Importar todas las fuentes (puedes juntarlas en una sola URL también) */
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Besley:ital,wght@0,400..900;1,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

/* Variables globales de tipografía */
:root {
  --fuente-titulos: 'Bevan', serif;            /* Titulos principales */
  --fuente-subtitulos: 'Besley', serif;        /* Subtitulos */
  --fuente-descripciones: 'Libre Bodoni', serif; /* Descripciones */
}
