@import url('../../../base/global.css');

/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background: var(--color-fondo-admin);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* CONTENEDOR GENERAL */
.registro-Usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.registro-Usuario__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.registro-Usuario__titulo {
    font-size: var(--tamano-titulo-card);
    color: var(--color-titulo-cards);
    margin-top: 150px;
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
    transition: transform .3s ease, color .3s ease;
}

.registro-Usuario__titulo:hover {
    color: var(--color-texto-hover-cards);
}


/* PANEL PRINCIPAL */
.registro-Usuario__panel {
    width: 850px;
    display: flex;
    justify-content: center;
}

.registro-Usuario__formulario {
    width: 100%;
    background: var(--color-fondo-caja);
    border-radius: 12px;
    padding: 40px;
    box-shadow: var(--sombra-formulario);
}

.registro-Usuario__formulario-contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ---------- GRID APLICADO ---------- */
.registro-Usuario__form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

/* Botón en ancho completo */
.registro-Usuario__boton-contenedor {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

/* CAMPOS */
.registro-Usuario__grupo-campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.registro-Usuario__grupo-campo label {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-texto-general);
}

/* INPUTS */
.registro-Usuario__input-grupo,
.editar-Usuario__input-grupo {
    background: var(--color-fondo-input);
    padding: 12px 14px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.registro-Usuario__input-grupo input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 14px;
}

/* ICONOS */
.icon-left {
    font-size: 18px;
    color: var(--color-iconos);
}

/* RADIO / CHECKBOX */
.editar-Usuarioes__estado-opciones {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.radio-op {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* FOOTER FORMULARIO */
.registro-Usuario__link {
    text-align: center;
    margin-top: 20px;
}

.registro-Usuario__link p {
    font-size: 14px;
}

.registro-Usuario__link a {
    color: var(--color-texto-principal);
    text-decoration: none;
    font-weight: bold;
}


.registro-Usuario__link a:hover {
    color: var(--color-link-hover);
}


