@import url('../css/base/global.css'); 
@import url('../css/components/botones.css');
@import url('../css/components/nav_admin.css');
@import url('../css/components/nav_vendedor.css');
@import url('../css/components/admin_icons.css');
@import url('../css/components/links.css');
@import url('../css/components/titulo_encabezado.css');
@import url('../css/components/iconos-contenedor.css');