@import url('../base/global.css'); /*variables globales*/
@import url('../css/components/botones.css');
@import url('components/nav_admin.css');
@import url('../css/components/admin_icons.css');
@import url('../css/components/links.css');
@import url('../css/components/titulo_encabezado.css');