@import url(../../components/css/globales.css);


@import url('../../Tipografias/styles.css');

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--alto-minimo-body);
}

/* Barra superior (admin) */
.admin {
    width: var(--ancho-nav-admin);
    height: var(--alto-nav-admin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;   
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--color-nav-admin);
    border-radius: var(--borde-general);
    z-index: var(--z-index-panel);
    padding:0 20px;
}

/* Círculo admin */
.admin__catalogo {
    width: var(--circulo-admin);
    height: var(--circulo-admin);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

/* Texto "Inicio" */
.admin__catalogo h2 {
    position: absolute;
    bottom: 20px;
    right: 980px;
    transform: translateX(-50%) translateY(var(--ancho-scrollbar));
    opacity: 0;
    font-size: var(--tamano-texto-home-admin);
    font-weight: var(--peso-fuente-semititulos);
    color: var(--color-texto-principal);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.admin__catalogo:hover h2 {
    opacity: var(--indice-z-formulario);
    transform: translateX(-50%) translateY(0);
}

.admin__catalogo img {
    width: var(--tamano-imagen-admin);
    height: var(--tamano-imagen-admin);
}

/* Título central */
.admin__title {
    flex: 1;
    text-align: center;
    font-size: var(--tamano-titulo-home);
    font-weight: var(--peso-fuente-titulo-principal);
    color: var(--color-texto-principal);
}

/* Icono de casa */
.home__icon {
    font-size: var(--tamano-icono-home);
    color: var(--color-iconos-principal);
    cursor: pointer;
}

/* Sección de tarjetas */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__title {
    font-size: var(--tamano-titulo-card);
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-titulo-cards);
    transition: transform var(--duracion-transicion), color var(--duracion-transicion);
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
}

.cards__title:hover {
    color: var(--color-texto-hover-cards);
}

/* Contenedor de tarjetas */
.cards__contenedor {
    display: flex; 
    gap: var(--gap-cards-catalogo);
    justify-items: center;
    padding: 0 40px;
}

/* Tarjeta */
.card-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../../../../assets/Imagenes/fondos/fondo_cards.jpg');
    border-radius: 16px;
    box-shadow: var(--sombra-difuminada);
    width: 610px;
    height: 220px;
    padding: var(--padding-tarjeta);
    gap: var(--gap-interno-tarjetas);
    transition: transform var(--duracion-transicion) var(--tipo-transicion), box-shadow var(--duracion-transicion) var(--tipo-transicion);
    cursor: pointer;
}

.card-item:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra-difuminada-hover);
    background-color: var(--color-fondo-tarjeta-hover);
}

.icon-circle img {
    width: var(--alto-iconos-catalogo);
    height: var(--ancho-iconos-catalogo);
}

.icon-circle:hover img {
    filter: brightness(1) invert(0);
}

/* Texto dentro de la tarjeta */
.card-item h3 {
    position: relative;
    color: var(--color-texto-principal);
    font-size: var(--tamano-titulo-cards);
    font-weight: var(--peso-fuente-semititulos);
    text-align: center;
}