@import url('../../../base/global.css');

/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: var(--alto-minimo-body);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
}
/* PANEL PRINCIPAL */
.registro-proveedor__panel {
    width: 850px;
    display: flex;
    justify-content: center;
}

.registro-proveedor__formulario {
    width: 100%;
    background: var( --color-fondo-card-productos);
    border-radius: 12px;
    padding: 40px;
    box-shadow: var(--sombra-formulario);
}

.registro-proveedor__formulario-contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ---------- GRID APLICADO ---------- */
.registro-proveedor__form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

/* Botón en ancho completo */
.registro-proveedor__boton-contenedor {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

/* CAMPOS */
.registro-proveedor__grupo-campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.registro-proveedor__grupo-campo label {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-texto-general);
}

/* INPUTS */
.registro-proveedor__input-grupo,
.editar-proveedor__input-grupo {
    background: var(--color-fondo-input);
    padding: 12px 14px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.registro-proveedor__input-grupo input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 14px;
}

/* ICONOS */
.icon-left {
    font-size: 18px;
    color: var(--color-iconos);
}

/* RADIO / CHECKBOX */
.editar-proveedores__estado-opciones {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.radio-op {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* FOOTER FORMULARIO */
.registro-proveedor__link {
    text-align: center;
    margin-top: 20px;
}

.registro-proveedor__link p {
    font-size: 14px;
}

.registro-proveedor__link a {
    color: var(--color-texto-principal);
    text-decoration: none;
    font-weight: bold;
}


.registro-proveedor__link a:hover {
    color: var(--color-link-hover);
}


