@import url('../../../base/global.css');

* {
    margin: var(--margin_padding_reset);
    padding: var(--margin_padding_reset);
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-titulos);
    background-color: var(--color-fondo-admin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: var(--alto-minimo-body);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
}

.Proveedores-listar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Proveedores-listar__titulo {
    font-size: var(--tamano-titulo-card);
    color: var(--color-titulo-cards);
    margin-bottom: 40px;
    text-shadow: var(--color-sombra-texto) 4px 4px 4px;
    transition: transform .3s ease, color .3s ease;
}

.Proveedores-listar__titulo:hover {
    color: var(--color-texto-hover-cards);
}

.Proveedores-listar__tabla-contenedor{
    width: var(--ancho-tabla-proveedores);
    overflow-x: auto;
    border-radius: 15px;
    background-color: var(--color-fondo-card-productos);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.Proveedores-listar__tabla{
    width: var(--ancho-interno-tabla-proveedores);
    height: var(--alto-interno-tabla-proveedores);
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.Proveedores-listar__tabla th, 
.Proveedores-listar__tabla td {
    padding: 15px 10px;
    text-align: center;
    border-left: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown
}

.Proveedores-listar__tabla th {
    background-color: var(--color-fondo-tarjeta-hover);
    font-weight: 700;
    font-size: var(--tamano-label);
    border: 1px solid saddlebrown;
}

.Proveedores-listar__tabla tbody {
    background-color: var(--color-fondo-tarjeta-hover);
    font-weight: 500;
    font-size: 16px;
    border: 1px solid saddlebrown;
}

.estado {
    padding: 5px 12px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: var(--peso-texto-semi);
}

.estado--activo{
    background-color: rgb(120, 172, 120);
}

.estado--inactivo{
    background-color: rgb(236, 93, 93);
}

/* Columna de acciones */
.Proveedores-listar__acciones {
    width: 150px;
}

/* Contenedor de iconos */
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
}

/* Estilos de los iconos */
.iconos i {
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .2s ease;
}

